/* G.XBER Creative Agency Business HTML Template */

/************ TABLE OF CONTENTS ***************

1. Fonts
2. Reset
3. Global
4. Main Header / Two / Three / Four / Five / Six / Seven / Eight
5. Main Slider / Two / Three / Four / Five / Six / Seven / Eight
6. Sponsors Section / Two / Three / Four / Five
7. Business Section
8. Projects Section / Two
9. Process Section
10. Team Section / Two / Three / Four / Five / Six
11. Brand Section
12. Testimonial Section / Two / Three / Four / Five / Six / Seven
13. Newsletter Section
14. Main footer / Two
15. Services Section / Two / Three / Four / Five / Six / Seven
16. Agency Section
17. CTA Section / Two / Three
18. Case Section
19. Newsletter Section / Two
20. About Section / Two / Three / Four
21. Gallery Section / Two / Three / Four
22. Blog Section / Two
23. Brand Section / Two
24. App Section
25. Talk Section
26. Counter Section / Two
27. Solutions Section
28. Faq Section / Two
29. Fluid Section
30. Pricing Section / Two
31. Page Title Section
32. Choose Section
33. Achievement Section
34. Sidebar Widgtes
35. Shop Items
36. Contact Form
37. Info Section
38. Map Section

**********************************************/

/* 
	
	font-family: 'Inter', sans-serif;
	font-family: 'Arimo', sans-serif;
	font-family: 'DM Sans', sans-serif;
	
*/

/*** 

====================================================================
	Root Code Variables
====================================================================

***/

/* Theme Color */

:root {
	
	/* #405CFF in decimal RGB */
	--main-color: rgb(64,92,255);
	--main-color-rgb:64,92,255;
	
	/* #DFFB6D in decimal RGB */
	--color-two: rgb(223,251,109);
	--color-two-rgb:223,251,109;
	
	/* #14151D in decimal RGB */
	--color-three: rgb(20,21,29);
	--color-three-rgb:20,21,29;
	
	/* #9F89F7 in decimal RGB */
	--color-four: rgb(159,137,247);
	--color-four-rgb:159,137,247;
	
	/* #6D2BFF in decimal RGB */
	--color-five: rgb(109,43,255);
	--color-five-rgb:109,43,255;
	
	/* #21D3FD in decimal RGB */
	--color-six: rgb(33,211,253);
	--color-six-rgb:33,211,253;
	
	/* #161720 in decimal RGB */
	--color-seven: rgb(22,23,32);
	--color-seven-rgb:22,23,32;
	
	/* #C2C2C2 in decimal RGB */
	--color-eight: rgb(194,194,194);
	--color-eight-rgb:194,194,194;
	
	/* #FFCC4A in decimal RGB */
	--color-nine: rgb(255,204,74);
	--color-nine-rgb:255,204,74;
	
	/* #BEBEBE in decimal RGB */
	--color-ten: rgb(190,190,190);
	--color-ten-rgb:190,190,190;
	
	/* #181923 in decimal RGB */
	--color-eleven: rgb(24,25,35);
	--color-eleven-rgb:24,25,35;
	
	/* #1A1B22 in decimal RGB */
	--color-twelve: rgb(26,27,34);
	--color-twelve-rgb:26,27,34;
	
	/* #B9B9B9 in decimal RGB */
	--color-thirteen: rgb(185,185,185);
	--color-thirteen-rgb:185,185,185;
	
	/* #878787 in decimal RGB */
	--color-fourteen: rgb(135,135,135);
	--color-fourteen-rgb:135,135,135;
	
	/* #13141B in decimal RGB */
	--color-fifteen: rgb(19,20,27);
	--color-fifteen-rgb:19,20,27;
	
	/* #713FDB in decimal RGB */
	--color-sixteen: rgb(113,63,219);
	--color-sixteen-rgb:113,63,219;
	
	/* #7A7A7A in decimal RGB */
	--color-seventeen: rgb(122,122,122);
	--color-seventeen-rgb:122,122,122;
	
	/* #FFE43B in decimal RGB */
	--color-eighteen: rgb(255,228,59);
	--color-eighteen-rgb:255,228,59;
	
	/* #FFB23F in decimal RGB */
	--color-nineteen: rgb(255,178,63);
	--color-nineteen-rgb:255,178,63;
	
	/* #818181 in decimal RGB */
	--color-twenty: rgb(129,129,129);
	--color-twenty-rgb:129,129,129;
	
	/* #73747D in decimal RGB */
	--color-twentyone: rgb(115,116,125);
	--color-twentyone-rgb:115,116,125;
	
	/* #F8F8F8 in decimal RGB */
	--color-twentytwo: rgb(248,248,248);
	--color-twentytwo-rgb:248,248,248;
	
	/* #8A8A8A in decimal RGB */
	--color-twentythree: rgb(138,138,138);
	--color-twentythree-rgb:138,138,138;
	
	/* #0052CC in decimal RGB */
	--color-twentyfour: rgb(0,82,204);
	--color-twentyfour-rgb:0,82,204;
	
	/* #8A90A2 in decimal RGB */
	--color-twentyfive: rgb(138,144,162);
	--color-twentyfive-rgb:138,144,162;
	
	/* #68E4FF in decimal RGB */
	--color-twentysix: rgb(104,228,255);
	--color-twentysix-rgb:104,228,255;
	
	/* #FDD60D in decimal RGB */
	--color-twentyseven: rgb(253,214,13);
	--color-twentyseven-rgb:253,214,13;
	
	/* #F0F0F0 in decimal RGB */
	--color-twentyeight: rgb(240,240,240);
	--color-twentyeight-rgb:240,240,240;
	
	/* #090928 in decimal RGB */
	--color-twentynine: rgb(9,9,40);
	--color-twentynine-rgb:9,9,40;
	
	/* #272D38 in decimal RGB */
	--color-thirty: rgb(39,45,56);
	--color-thirty-rgb:39,45,56;
	
	/* #667085 in decimal RGB */
	--color-thirtyone: rgb(102,112,133);
	--color-thirtyone-rgb:102,112,133;
	
	/* #F6F6F6 in decimal RGB */
	--color-thirtytwo: rgb(246,246,246);
	--color-thirtytwo-rgb:246,246,246;
	
	/* #292930 in decimal RGB */
	--color-thirtythree: rgb(41,41,48);
	--color-thirtythree-rgb:41,41,48;
	
	/* #14151E in decimal RGB */
	--color-thirtyfour: rgb(20,21,30);
	--color-thirtyfour-rgb:20,21,30;
	
	/* #171821 in decimal RGB */
	--color-thirtyfive: rgb(23,24,33);
	--color-thirtyfive-rgb:23,24,33;
	
	/* #FF7425 in decimal RGB */
	--color-thirtysix: rgb(255,116,37);
	--color-thirtysix-rgb:255,116,37;
	
	/* #101626 in decimal RGB */
	--color-thirtyseven: rgb(16,22,38);
	--color-thirtyseven-rgb:16,22,38;
	
	/* #222222 in decimal RGB */
	--color-thirtyeight: rgb(34,34,34);
	--color-thirtyeight-rgb:34,34,34;
	
	/* #666666 in decimal RGB */
	--color-thirtynine: rgb(102,102,102);
	--color-thirtynine-rgb:102,102,102;
	
	/* #101010 in decimal RGB */
	--color-fourty: rgb(16,16,16);
	--color-fourty-rgb:16,16,16;
	
	/* #10171e in decimal RGB */
	--color-fourtyone: rgb(16,23,30);
	--color-fourtyone-rgb:16,23,30;
	
	/* #131a21 in decimal RGB */
	--color-fourtytwo: rgb(19,26,33);
	--color-fourtytwo-rgb:19,26,33;
	
	/* #19212a in decimal RGB */
	--color-fourtythree: rgb(25,33,42);
	--color-fourtythree-rgb:25,33,42;

	
  /* #1effff in decimal RGB */
  --color-fourtyfive: rgb(30,255,255);
  --color-fourtyfive-rgb:30,255,255;
  
	/* #4c40f6 in decimal RGB */
  --color-fourtysix: rgb(76,64,246);
  --color-fourtysix-rgb:76,64,246;

	/* #e2e2e2 in decimal RGB */
  --color-fourtyseven: rgb(226,226,226);
  --color-fourtyseven-rgb:226,226,226;

	/* #656565 in decimal RGB */
  --color-fourtyeight: rgb(101,101,101);
  --color-fourtyeight-rgb:101,101,101;

	/* #eef4fc in decimal RGB */
  --color-fourtynine: rgb(238,244,252);
  --color-fourtynine-rgb:238,244,252;

	/* #fecc05 in decimal RGB */
  --color-fifty: rgb(254,204,5);
  --color-fifty-rgb:254,204,5;

	/* #463800 in decimal RGB */
  --color-fiftyone: rgb(70,56,0);
  --color-fiftyone-rgb:70,56,0;
	
	/* #1b1b1b in decimal RGB */
  --color-fiftytwo: rgb(27,27,27);
  --color-fiftytwo-rgb:27,27,27;

	/* #181717 in decimal RGB */
  --color-fiftythree: rgb(24,23,23);
  --color-fiftythree-rgb:24,23,23;

	/* #ebebeb in decimal RGB */
  --color-fiftyfour: rgb(235,235,235);
  --color-fiftyfour-rgb:235,235,235;

	/* #bbbbbb in decimal RGB */
  --color-fiftyfive: rgb(187,187,187);
  --color-fiftyfive-rgb:187,187,187;

	/* #111219 in decimal RGB */
  --color-fiftysix: rgb(17,18,25);
  --color-fiftysix-rgb:17,18,25;
	
	/* #cccccc in decimal RGB */
	--color-fourtyfour: rgb(204,204,204);
	--color-fourtyfour-rgb:204,204,204;
	
	
	
	
	
	/* #ffffff in decimal RGB */
	--white-color:rgb(255,255,255);
	--white-color-rgb:255,255,255;
	
	/* #000000 in decimal RGB */
	--black-color:rgb(0,0,0);
	--black-color-rgb:0,0,0;
	
	/* #010101 Heading Color in decimal RGB */
	--heading-color:rgb(1,1,1);
	
	
	/* Fonts */
	
	--font-family-Arimo: 'Jost', sans-serif;
	--font-family-Inter: 'Jost', sans-serif;
	--font-family-DM-Sans: 'Jost', sans-serif;
	--font-family-Jost: 'Jost', sans-serif;
	
	
  /* Fonts Size's */
	
	--font-8: 8px;
	--font-10: 10px;
	--font-12: 12px;
	--font-13: 13px;
	--font-14: 14px;
	--font-15: 15px;
	--font-16: 16px;
	--font-17: 17px;
	--font-18: 18px;
	--font-20: 20px;
	--font-22: 22px;
	--font-24: 24px;
	--font-26: 26px;
	--font-28: 28px;
	--font-30: 30px;
	--font-32: 32px;
	--font-33: 33px;
	--font-34: 34px;
	--font-35: 35px;
	--font-36: 36px;
	--font-38: 38px;
	--font-40: 40px;
	--font-42: 42px;
	--font-44: 44px;
	--font-45: 45px;
	--font-48: 48px;
	--font-49: 49px;
	--font-50: 50px;
	--font-52: 52px;
	--font-54: 54px;
	--font-55: 55px;
	--font-56: 56px;
	--font-58: 58px;
	--font-60: 60px;
	--font-62: 62px;
	--font-64: 64px;
	--font-65: 65px;
	--font-66: 66px;
	--font-68: 68px;
	--font-70: 70px;
	--font-72: 72px;
	--font-74: 74px;
	--font-76: 76px;
	--font-78: 78px;
	--font-80: 80px;
	--font-85: 85px;
	--font-90: 90px;
	--font-95: 95px;
	--font-100: 100px;
	--font-110: 110px;
	--font-120: 120px;
	--font-150: 150px;
	--font-200: 200px;
	
	--margin-zero: 0px;
	
	/* Margin Left Variables */
	--margin-left-5: 5px;
	--margin-left-10: 10px;
	--margin-left-15: 15px;
	--margin-left-20: 20px;
	--margin-left-25: 25px;
	--margin-left-30: 30px;
	--margin-left-35: 35px;
	--margin-left-40: 40px;
	--margin-left-45: 45px;
	--margin-left-50: 50px;
	--margin-left-55: 55px;
	--margin-left-60: 60px;
	--margin-left-65: 65px;
	--margin-left-70: 70px;
	--margin-left-75: 75px;
	--margin-left-80: 80px;
	--margin-left-85: 85px;
	--margin-left-90: 90px;
	--margin-left-95: 95px;
	--margin-left-100: 100px;
	--margin-left-120: 120px;
	
	/* Margin Top Variables */
	--margin-top-5: 5px;
	--margin-top-10: 10px;
	--margin-top-15: 15px;
	--margin-top-20: 20px;
	--margin-top-25: 25px;
	--margin-top-30: 30px;
	--margin-top-35: 35px;
	--margin-top-40: 40px;
	--margin-top-45: 45px;
	--margin-top-50: 50px;
	--margin-top-55: 55px;
	--margin-top-60: 60px;
	--margin-top-65: 65px;
	--margin-top-70: 70px;
	--margin-top-75: 75px;
	--margin-top-80: 80px;
	--margin-top-85: 85px;
	--margin-top-90: 90px;
	--margin-top-95: 95px;
	--margin-top-100: 100px;
	--margin-top-120: 120px;
	--margin-top-140: 140px;
	--margin-top-150: 150px;
	
	/* Margin Right Variables */
	--margin-right-5: 5px;
	--margin-right-10: 10px;
	--margin-right-15: 15px;
	--margin-right-20: 20px;
	--margin-right-25: 25px;
	--margin-right-30: 30px;
	--margin-right-35: 35px;
	--margin-right-40: 40px;
	--margin-right-45: 45px;
	--margin-right-50: 50px;
	--margin-right-55: 55px;
	--margin-right-60: 60px;
	--margin-right-65: 65px;
	--margin-right-70: 70px;
	--margin-right-75: 75px;
	--margin-right-80: 80px;
	--margin-right-85: 85px;
	--margin-right-90: 90px;
	--margin-right-95: 95px;
	--margin-right-100: 100px;
	--margin-right-110: 110px;
	
	/* Margin Bottom Variables */
	--margin-bottom-5: 5px;
	--margin-bottom-10: 10px;
	--margin-bottom-15: 15px;
	--margin-bottom-20: 20px;
	--margin-bottom-25: 25px;
	--margin-bottom-30: 30px;
	--margin-bottom-35: 35px;
	--margin-bottom-40: 40px;
	--margin-bottom-45: 45px;
	--margin-bottom-50: 50px;
	--margin-bottom-55: 55px;
	--margin-bottom-60: 60px;
	--margin-bottom-65: 65px;
	--margin-bottom-70: 70px;
	--margin-bottom-75: 75px;
	--margin-bottom-80: 80px;
	--margin-bottom-85: 85px;
	--margin-bottom-90: 90px;
	--margin-bottom-95: 95px;
	--margin-bottom-100: 100px;
	--margin-bottom-150: 150px;
	--margin-bottom-200: 200px;
	
	
	--padding-zero: 0px;
	
	/* Padding Left Variables */
	--padding-left-5: 5px;
	--padding-left-10: 10px;
	--padding-left-15: 15px;
	--padding-left-20: 20px;
	--padding-left-25: 25px;
	--padding-left-30: 30px;
	--padding-left-35: 35px;
	--padding-left-40: 40px;
	--padding-left-45: 45px;
	--padding-left-50: 50px;
	--padding-left-55: 55px;
	--padding-left-60: 60px;
	--padding-left-65: 65px;
	--padding-left-70: 70px;
	--padding-left-75: 75px;
	--padding-left-80: 80px;
	--padding-left-85: 85px;
	--padding-left-90: 90px;
	--padding-left-95: 95px;
	--padding-left-100: 100px;
	--padding-left-110: 110px;
	--padding-left-120: 120px;
	--padding-left-130: 130px;
	--padding-left-135: 135px;
	--padding-left-140: 140px;
	--padding-left-150: 150px;
	--padding-left-160: 160px;
	--padding-left-170: 170px;
	--padding-left-180: 180px;
	--padding-left-190: 190px;
	--padding-left-200: 200px;
	--padding-left-240: 240px;
	--padding-left-290: 290px;
	
	/* Padding Top Variables */
	--padding-top-5: 5px;
	--padding-top-10: 10px;
	--padding-top-15: 15px;
	--padding-top-20: 20px;
	--padding-top-25: 25px;
	--padding-top-30: 30px;
	--padding-top-35: 35px;
	--padding-top-40: 40px;
	--padding-top-45: 45px;
	--padding-top-50: 50px;
	--padding-top-55: 55px;
	--padding-top-60: 60px;
	--padding-top-65: 65px;
	--padding-top-70: 70px;
	--padding-top-75: 75px;
	--padding-top-80: 80px;
	--padding-top-85: 85px;
	--padding-top-90: 90px;
	--padding-top-95: 95px;
	--padding-top-100: 100px;
	--padding-top-110: 110px;
	--padding-top-120: 120px;
	--padding-top-130: 130px;
	--padding-top-140: 140px;
	--padding-top-150: 150px;
	--padding-top-180: 180px;
	--padding-top-200: 200px;
	
	/* Padding Right Variables */
	--padding-right-5: 5px;
	--padding-right-10: 10px;
	--padding-right-15: 15px;
	--padding-right-20: 20px;
	--padding-right-25: 25px;
	--padding-right-30: 30px;
	--padding-right-35: 35px;
	--padding-right-40: 40px;
	--padding-right-45: 45px;
	--padding-right-50: 50px;
	--padding-right-55: 55px;
	--padding-right-60: 60px;
	--padding-right-65: 65px;
	--padding-right-70: 70px;
	--padding-right-75: 75px;
	--padding-right-80: 80px;
	--padding-right-85: 85px;
	--padding-right-90: 90px;
	--padding-right-95: 95px;
	--padding-right-100: 100px;
	--padding-right-110: 110px;
	--padding-right-120: 120px;
	--padding-right-150: 150px;
	--padding-right-160: 160px;
	--padding-right-170: 170px;
	--padding-right-180: 180px;
	--padding-right-200: 200px;
	--padding-right-220: 220px;
	--padding-right-240: 240px;
	--padding-right-250: 250px;
	--padding-right-260: 260px;
	
	/* Padding Bottom Variables */
	--padding-bottom-5: 5px;
	--padding-bottom-10: 10px;
	--padding-bottom-15: 15px;
	--padding-bottom-20: 20px;
	--padding-bottom-25: 25px;
	--padding-bottom-30: 30px;
	--padding-bottom-35: 35px;
	--padding-bottom-40: 40px;
	--padding-bottom-45: 45px;
	--padding-bottom-50: 50px;
	--padding-bottom-55: 55px;
	--padding-bottom-60: 60px;
	--padding-bottom-65: 65px;
	--padding-bottom-70: 70px;
	--padding-bottom-75: 75px;
	--padding-bottom-80: 80px;
	--padding-bottom-85: 85px;
	--padding-bottom-90: 90px;
	--padding-bottom-95: 95px;
	--padding-bottom-100: 100px;
	--padding-bottom-120: 120px;
	--padding-bottom-150: 150px;
	--padding-bottom-200: 200px;
	--padding-bottom-250: 250px;
	
  }
  
  /*** 
  
  ====================================================================
	  Reset
  ====================================================================
  
   ***/
   
  * {
	  margin:0px;
	  padding:0px;
	  border:none;
	  outline:none;
  }
  
  /*** 
  
  ====================================================================
	  Global Settings
  ====================================================================
  
  ***/
  
  body {
	  font-family:var(--font-family-Arimo);
	  font-size:14px;
	  line-height:1.6em;
	  font-weight:400;
	  background-color:var(--white-color);
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing: antialiased;
  }
  
  .preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:999999; background-color:#ffffff; background-position:center center; background-repeat:no-repeat; background-image:url(https://themexriver.com/wp/gxbar/wp-content/themes/gxber/assets/images/preloader.svg); background-size:100px; }
  
  .bordered-layout .page-wrapper{
	  padding:0px 50px 0px;
  }
  
  a{
	  text-decoration:none;
	  cursor:pointer;
	  color:var(--main-color);
  }
  
  .text-right{
	  text-align:right;
  }
  
  .mCSB_inside > .mCSB_container{
	  margin-right:var(--margin-zero) !important;
  }
  
  button,
  a:hover,a:focus,a:visited{
	  text-decoration:none;
	  outline:none !important;
  }
  
  h1,h2,h3,h4,h5,h6 {
	  position:relative;
	  margin:0px;
	  background:none;
	  font-family: var(--font-family-Arimo);
  }
  
  input,button,select,textarea{
	  
  }
  
  textarea{
	  overflow:hidden;
  }
  
  a{
	  -webkit-transition:all 300ms ease;
	  -ms-transition:all 300ms ease;
	  -o-transition:all 300ms ease;
	  -moz-transition:all 300ms ease;
	  transition:all 300ms ease;
  }
  
  .text,
  p{
	  position:relative;
	  line-height:27px;
	  color: var(--color-eight);
	  font-size:17px;
	  font-family: var(--font-family-Arimo);
  }
  
  .page-wrapper.dark-bg{
	  background-color: var(--color-three);
  }
  
  /* Typography */
  
  h1{
	  line-height:90px;
	  font-weight:600;
	  font-size:var(--font-85);
  }
  
  h2{
	  line-height:62px;
	  font-weight:600;
	  font-size:var(--font-48);
  }
  
  h3{
	  line-height:1.3em;
	  font-size:var(--font-26);
  }
  
  h4{
	  line-height:1.4em;
	  font-size:var(--font-24);
  }
  
  h5{
	  line-height:1.4em;
	  font-size:var(--font-22);
  }
  
  h6{
	  line-height:1.6em;
	  font-size:var(--font-18);
  }
  
  /*** 
  
  ====================================================================
	  Social Icon One
  ====================================================================
  
  ***/
  
  .social-icon-one{
	  position:relative;
  }
  
  .social-icon-one li{
	  position:relative;
	  display:inline-block;
	  margin-right:var(--margin-right-10);
  }
  
  .social-icon-one li a{
	  position:relative;
	  width:48px;
	  height:48px;
	  line-height:46px;
	  text-align:center;
	  border-radius:50px;
	  display:inline-block;
	  color:var(--white-color);
	  border:1px solid rgba(var(--white-color-rgb), 0.1);
  }
  
  .social-icon-one li a:hover{
	  color:var(--white-color);
	  border-color:var(--main-color);
	  background-color:var(--main-color);
  }
  
  .auto-container{
	  position:static;
	  max-width:1320px;
	  padding:0px 15px;
	  margin:0 auto;
  }
  
  .auto-container.alternate{
	  max-width:1200px;
  }
  
  .medium-container{
	  position:static;
	  max-width:1000px;
	  padding:0px 15px;
	  margin:0 auto;
  }
  
  .page-wrapper{
	  position:relative;
	  margin:0 auto;
	  width:100%;
	  min-width:300px;
	  overflow:hidden;
  }
  
  ul,li{
	  list-style:none;
	  padding:0px;
	  margin:0px;	
  }
  
  img{
	  display:inline-block;
	  max-width:100%;
  }
  
  .theme-btn{
	  cursor:pointer;
	  display:inline-block;
	  transition:all 0.3s ease;
	  -moz-transition:all 0.3s ease;
	  -webkit-transition:all 0.3s ease;
	  -ms-transition:all 0.3s ease;
	  -o-transition:all 0.3s ease;
  }
  
  .centered{
	  text-align:center;	
  }
  
  ::-webkit-input-placeholder{color: inherit;}
  ::-moz-input-placeholder{color: inherit;}
  ::-ms-input-placeholder{color: inherit;}
  .default-form .form-group input[type="text"]:focus {
    background: transparent;
}
  /***
  
  ====================================================================
	  Scroll To Top style
  ====================================================================
  
  ***/
  
  .scroll-to-top{
	  position:fixed;
	  bottom:15px;
	  right:15px;
	  width:40px;
	  height:40px;
	  color:var(--main-color);
	  font-size:var(--font-16);
	  text-transform:uppercase;
	  line-height:38px;
	  text-align:center;
	  z-index:100;
	  cursor:pointer;
	  background:var(--white-color);
	  display:none;
	  box-shadow:0px 0px 10px rgba(0,0,0,0.15);
	  -webkit-transition:all 300ms ease;
	  -ms-transition:all 300ms ease;
	  -o-transition:all 300ms ease;
	  -moz-transition:all 300ms ease;
	  transition:all 300ms ease;
  }
  
  .scroll-to-top:hover{
	  color:var(--white-color);
	  background:var(--main-color);
  }
  
  /* List Style One */
  
  .list-style-one{
	  position:relative;
  }
  
  .list-style-one li{
	  position:relative;
	  font-weight:400;
	  line-height:1.8em;
	  color:var(--black-color);
	  font-size:var(--font-16);
	  margin-bottom:var(--margin-bottom-10);
	  padding-left:var(--padding-left-40);
  }
  
  .list-style-one li strong{
	  display:block;
  }
  
  .list-style-one li a{
	  position:relative;
	  color:var(--black-color);
	  -webkit-transition:all 300ms ease;
	  -moz-transition:all 300ms ease;
	  -ms-transition:all 300ms ease;
	  -o-transition:all 300ms ease;
	  transition:all 300ms ease;
  }
  
  .list-style-one li a:hover{
	  color:var(--main-color);
  }
  
  .list-style-one li .icon{
	  position:absolute;
	  left:0px;
	  top:8px;
	  line-height:1em;
	  font-weight:300;
	  font-family: "Flaticon";
	  color:var(--main-color);
	  font-size:var(--font-24);
	  -webkit-transition:all 300ms ease;
	  -moz-transition:all 300ms ease;
	  -ms-transition:all 300ms ease;
	  -o-transition:all 300ms ease;
	  transition:all 300ms ease;
  }
  
  /* Btn Style One */
  
  .btn-style-one{
	  position: relative;
	  z-index:1;
	  font-weight:600;
	  overflow: hidden;
	  text-align:center;
	  padding: 19px 40px;
	  border-radius: 50px;
	  display:inline-block;
	  letter-spacing: 0.14em;
	  color: var(--white-color);
	  font-size: var(--font-14);
	  text-transform: uppercase;
	  background: linear-gradient(90deg, var(--color-four) 0%, var(--color-five) 32.16%, var(--main-color) 64.84%, var(--color-six) 98.02%);
  }
  
  .btn-style-one:hover{
	  color: var(--white-color);
  }
  
  .btn-style-one:before{
	  position: absolute;
	  content:'';
	  left:0px;
	  top:0px;
	  right:0px;
	  bottom:0px;
	  z-index:-1;
	  opacity:0;
	  border-radius:50px;
	  transition:scale(1.05,1);
	  -webkit-transition: all 500ms ease;
	  -moz-transition: all 500ms ease;
	  -ms-transition: all 500ms ease;
	  -o-transition: all 500ms ease;
	  transition: all 500ms ease;
	  background: linear-gradient(90deg, var(--color-six) 0%, var(--color-six) 32.16%, var(--main-color) 64.84%, var(--color-four) 98.02%);
  }
  
  .btn-style-one:hover::before{
	  opacity:1;
	  transition:scale(1,1); 
  }
  
  .btn-style-one.alternate,
  .btn-style-one.alternate::before{
	  border-radius:4px;
	  font-family:var(--font-family-Inter);
  }
  
  /* Btn Style Two */
  
  .btn-style-two{
	  position: relative;
	  font-weight:600;
	  border-radius:5px;
	  text-align:center;
	  padding: 18px 36px;
	  letter-spacing:2px;
	  display:inline-block;
	  color: var(--white-color);
	  font-size: var(--font-14);
	  text-transform: uppercase;
	  background-color: var(--color-three);
  }
  
  .btn-style-two:hover{
	  color: var(--black-color);
	  background-color: var(--white-color);
  }
  
  .btn-style-two:before{
	  position:absolute;
	  content:'';
	  z-index:-1;
	  top:4px;
	  left:-4px;
	  right:4px;
	  bottom:-4px;
	  border-radius:5px;
	  transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  -webkit-transition: all 0.3s ease;
	  background-color:var(--color-twentyfour);
  }
  
  /* Btn Style Three */
  
  .btn-style-three{
	  position: relative;
	  line-height: 30px;
	  font-weight:600;
	  overflow: hidden;
	  text-align:center;
	  border-radius:50px;
	  padding: 17px 39px;
	  letter-spacing:2px;
	  display: inline-grid;
	  color: var(--color-three);
	  font-size: var(--font-14);
	  text-transform: uppercase;
	  background-color:var(--color-eighteen);
  }
  
  .btn-style-three .txt{
	  position:relative;
	  z-index:1;
  }
  
  .btn-style-three:before{
	  webkit-transition-duration: 800ms;
	  transition-duration: 800ms;
	  position: absolute;
	  width: 200%;
	  height: 200%;
	  content: "";
	  top: 110%;
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  transform: translateX(-50%);
	  border-radius: 50%;
	  z-index: 1;
	  background: var(--white-color);
  }
  
  .btn-style-three:hover{
	  color: var(--color-three);
  }
  
  .btn-style-three:hover:before{
	  top: -40%;
  }
  
  /* Btn Style Four */
  
  .btn-style-four{
	  position: relative;
	  line-height: 30px;
	  font-weight:600;
	  overflow: hidden;
	  text-align:center;
	  border-radius:5px;
	  padding: 17px 39px;
	  letter-spacing:2px;
	  display: inline-grid;
	  color: var(--white-color);
	  font-size: var(--font-14);
	  text-transform: uppercase;
	  background-color:var(--color-fifteen);
  }
  
  .btn-style-four .txt{
	  position:relative;
	  z-index:1;
  }
  
  .btn-style-four:before{
	  webkit-transition-duration: 800ms;
	  transition-duration: 800ms;
	  position: absolute;
	  width: 200%;
	  height: 200%;
	  content: "";
	  top: 110%;
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  transform: translateX(-50%);
	  border-radius: 50%;
	  z-index: 1;
	  background: var(--main-color);
  }
  
  .btn-style-four:hover{
	  color: var(--white-color);
  }
  
  .btn-style-four:hover:before{
	  top: -40%;
  }
  
  /* Btn Style Five */
  
  .btn-style-five{
	  position: relative;
	  line-height: 30px;
	  font-weight:600;
	  overflow: hidden;
	  text-align:center;
	  border-radius:5px;
	  padding: 17px 39px;
	  letter-spacing:2px;
	  display: inline-grid;
	  color: var(--white-color);
	  font-size: var(--font-14);
	  text-transform: uppercase;
	  background-color:var(--color-twentyfour);
  }
  
  .btn-style-five .txt{
	  position:relative;
	  z-index:1;
  }
  
  .btn-style-five:before{
	  webkit-transition-duration: 800ms;
	  transition-duration: 800ms;
	  position: absolute;
	  width: 200%;
	  height: 200%;
	  content: "";
	  top: 110%;
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  transform: translateX(-50%);
	  border-radius: 50%;
	  z-index: 1;
	  background: var(--color-three);
  }
  
  .theme_color{
	  color:var(--main-color);
  }
  
  .btn-style-five:hover{
	  color: var(--white-color);
  }
  
  .btn-style-five:hover:before{
	  top: -40%;
  }
  
  img{
	  display:inline-block;
	  max-width:100%;
	  height:auto;	
  }
  
/* Btn Style Six */

.btn-style-six{
	position: relative;
	line-height: 30px;
	font-weight:700;
	overflow: hidden;
	text-align:center;
	border-radius:50px;
	padding: 17px 39px;
	display: inline-grid;
	letter-spacing: 0.5px;
	color: var(--white-color);
	font-size: var(--font-18);
	background-color:var(--color-fourtysix);
	font-family: var(--font-family-Archivo);
}

.btn-style-six .txt{
	position:relative;
	z-index:1;
}

.btn-style-six:before{
	webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: 110%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background: var(--color-fourtyfive);
}

.btn-style-six i{
	position: relative;
	top: 3px;
	font-style: normal;
	font-weight: normal;
	font-family: "Flaticon";
	font-size: var(--font-18);
	margin-left: var(--margin-left-5);
}

.btn-style-six:hover{
	color: var(--color-fourtysix);
}

.btn-style-six:hover:before{
	top: -40%;
}

/* Btn Style Seven */

.btn-style-seven{
	position: relative;
	line-height: 30px; 
	font-weight:700;
	overflow: hidden;
	text-align:center;
	border-radius:50px;
	display: inline-grid;
	letter-spacing: 0.5px;
	padding: 13px 39px 16px;
	color: var(--white-color);
	font-size: var(--font-16);
	background-color:var(--color-fiftythree);
	font-family: var(--font-family-Archivo);
}

.btn-style-seven .txt{
	position:relative;
	z-index:1;
}

.btn-style-seven:before{
	-webkit-transition-duration: 800ms;
	transition-duration: 800ms;
	position: absolute;
	width: 200%;
	height: 200%;
	content: "";
	top: 110%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 50%;
	z-index: 1;
	background: var(--color-twentyfour);
}

.btn-style-seven i{
	position: relative;
	top: 3px;
	font-style: normal;
	font-weight: normal;
	font-family: "Flaticon";
	font-size: var(--font-18);
	margin-left: var(--margin-left-5);
}

.btn-style-seven:hover{
	color: var(--white-color);
}

.btn-style-seven:hover:before{
	top: -40%;
}
  /*** 
  
  ====================================================================
	  Section Title
  ====================================================================
  
  ***/
  
  .sec-title{
	  position:relative;
	  margin-bottom:var(--margin-bottom-30);
  }
  
  .sec-title .title{
	  position:relative;
	  font-weight:600;
	  letter-spacing:2px;
	  font-size:var(--font-20);
	  text-transform:uppercase;
	  color:var(--color-thirteen);
	  margin-bottom:var(--margin-bottom-25);
	  font-family:var(--font-family-DM-Sans);
  }
  
  .sec-title h2{
	  color:var(--white-color);
	  text-transform:uppercase;
  }
  
  .sec-title .text{
	  margin-top:var(--margin-top-15);
  }
  
  .sec-title.light .text{
	  color:var(--color-six);
  }
  
  .sec-title.light h2{
	  color:var(--white-color);
  }
  
  .sec-title.centered{
	  text-align: center !important;
  }
  
.sec-title-five{
	position:relative;
}

.sec-title-five .title{
	position:relative;
	font-weight: 500;
	display: inline-block;
	font-size: var(--font-16);
	text-transform: uppercase;
	color: var(--color-fourtysix);
	padding-left: var(--padding-left-35);
	font-family: var(--font-family-Archivo);
}

.sec-title-five .title::before{
	position:absolute;
	content: '';
	left: 0px;
	top: 3px;
	width: 14px;
	height: 14px;
	border-radius: 50px;
	background-color:var(--color-fourtysix);
}

.sec-title-five .title::after{
	position:absolute;
	content: '';
	left: 5px;
	top: 0px;
	width: 14px;
	height: 14px;
	opacity: 0.40;
	border-radius: 50px;
	background-color:var(--color-fourtysix);
}

.sec-title-five h2{
	position: relative;
	line-height:55px;
	font-weight: 800;
	color:var(--heading-color);
	margin-top: var(--margin-top-15);
	font-family: var(--font-family-Archivo);
}

.sec-title-five .text{
	position: relative;
	line-height: 30px;
	font-size: var(--font-20);
	color: var(--color-fourtyeight);
	margin-top: var(--margin-top-20);
	padding-right: var(--padding-right-20);
	font-family: var(--font-family-Archivo);
}

.sec-title-five.light h2{
	color: var(--white-color);
}
  /*** 
  
  ====================================================================
	  Section Title Two
  ====================================================================
  
  ***/
  
  .sec-title-two{
	  position:relative;
	  margin-bottom:var(--margin-bottom-30);
  }
  
  .sec-title-two .title{
	  position:relative;
	  font-weight:600;
	  letter-spacing:2px;
	  font-size:var(--font-18);
	  text-transform:uppercase;
	  color:var(--color-twentyone);
	  margin-bottom:var(--margin-bottom-25); 
  }
  
  .sec-title-two .title.style-two{
	  position:relative;
	  font-weight:400;
	  padding:10px 30px;
	  letter-spacing:0px;
	  display:inline-block;
	  text-transform:capitalize;
	  color: var(--color-fifteen);
  }
  
  .sec-title-two .title.style-two:before{
	  position:absolute;
	  content:'';
	  left:0px;
	  top:0px;
	  right:0px;
	  bottom:0px;
	  opacity:0.10;
	  border-radius:50px;
	  background: linear-gradient(90deg, var(--color-four) 0%, var(--color-five) 32.16%, var(--main-color) 64.84%, var(--color-six) 98.02%);
  }
  
  .sec-title-two h2{
	  line-height:70px;
	  font-size:var(--font-60);
	  color:var(--color-fifteen);
	  text-transform:capitalize;
  }
  
  .sec-title-two h2 span{
	  font-weight:400;
  }
  
  .sec-title-two .text{
	  margin-top:var(--margin-top-15);
  }
  
  .sec-title-two.light .text{
	  color:var(--color-six);
  }
  
  .sec-title-two.light h2{
	  color:var(--white-color);
  }
  
  .sec-title-two.centered{
	  text-align: center !important;
  }
  
  .sec-title-two.style-two h2{
	  line-height:56px;
	  font-size:var(--font-48);
  }
  
  /*** 
  
  ====================================================================
	  Section Title Three
  ====================================================================
  
  ***/
  
  .sec-title-three{
	  position:relative;
	  margin-bottom:var(--margin-bottom-40);
  }
  
  .sec-title-three .title{
	  position:relative;
	  font-weight:600;
	  display:inline-block;
	  font-size:var(--font-18);
	  color:var(--color-thirtyeight);
	  margin-bottom:var(--margin-bottom-15);
	  padding-right:var(--padding-right-70);
	  font-family:var(--font-family-Inter);
  }
  
  .sec-title-three .title:before{
	  position:absolute;
	  content:'';
	  right:0px;
	  top:10px;
	  width:50px;
	  height:3px;
	  border-radius:50px;
	  background: linear-gradient(90deg, var(--color-four) 0%, var(--color-five) 32.16%, var(--main-color) 64.84%, var(--color-six) 98.02%);
  } 
  
  .sec-title-three h2{
	  line-height:52px;
	  font-size:var(--font-42);
	  color:var(--heading-color);
	  font-family:var(--font-family-Inter);
  }
  
  .sec-title-three .text{
	  line-height:30px;
	  color:var(--color-thirtynine);
	  margin-top:var(--margin-top-20);
  }
  
  .sec-title-three.light .title,
  .sec-title-three.light h2,
  .sec-title-three.light .text{
	  color:var(--white-color);
  }
  
  /*** 
  
  ====================================================================
	  Section Title Four
  ====================================================================
  
  ***/
  
  .sec-title-four{
	  position:relative;
	  margin-bottom:var(--margin-bottom-40);
  }
  
  .sec-title-four h2{
	  line-height:56px;
	  font-size:var(--font-42);
	  color:var(--heading-color);
	  font-family:var(--font-family-Jost);
  }
  
  .sec-title-four .sub-title{
	  position:relative;
	  font-weight:500;
	  display:inline-block;
	  color:var(--main-color);
	  text-transform:uppercase;
	  font-size:var(--font-16);
	  margin-top:var(--margin-top-15);
	  font-family:var(--font-family-Jost);
  }
  
  .sec-title-four .text{
	  line-height:28px;
	  font-size:var(--font-17);
	  color:var(--color-thirtynine);
	  margin-top:var(--margin-top-25);
	  font-family:var(--font-family-Jost);
  }
  
  .sec-title-four.light h2,
  .sec-title-four.light .text{
	  color:var(--white-color);
  }
  
  
  
  /* Custom Select */
  
  .form-group .ui-selectmenu-button.ui-button{
	  width:100%;
	  font-style:normal;
	  line-height:28px;
	  font-size:var(--font-14);
	  color:var(--color-fiftyfour);
	  padding: 0px 0px;
	  border:0px;
	  background-color: var(--white-color);
  }
  
  .form-group .ui-button .ui-icon{
	  background:none;
	  position:relative;
	  top:12px;
	  text-indent:0px;
	  color:#a5a5a5;	
  }
  
  .form-group .ui-button .ui-icon:before{
	  font-family: 'FontAwesome';
	  content: "\f107";
	  position:absolute;
	  right:0px;
	  top:2px !important;
	  top:13px;
	  width:10px;
	  height:20px;
	  display:block;
	  line-height:20px;
	  font-size:var(--font-16);
	  font-weight:normal;
	  text-align:center;
	  z-index:5;
	  color:var(--color-fiftyfour);
  }
  
  .ui-menu .ui-menu-item{
	  font-size:var(--font-14);
  }
  
  .ui-menu .ui-menu-item:last-child{
	  border:none;	
  }
  
  .ui-state-active, .ui-widget-content .ui-state-active{
	  background-color:var(--main-color) !important;
	  border-color:var(--main-color) !important;
  }
  
  .ui-menu .ui-menu-item-wrapper{
	  position:relative;
	  display:block;
	  padding:8px 20px;
	  line-height:24px;
	  font-size:var(--font-14);
  }
  
  .ui-menu-item:hover{
	  background-color:var(--main-color);
  }
  
  .wpcf7 br{
	  display:none;
	}